h1,h3,strong {
    font-weight: bolder;
    text-transform: uppercase
}
#informacoes .red{
    background: url('https://images.pexels.com/photos/993019/pexels-photo-993019.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-repeat: no-repeat;
    background-size: cover;
}
#informacoes .amber{
    background: url('https://images.pexels.com/photos/137036/pexels-photo-137036.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-repeat: no-repeat;
    background-size: cover;
}
#informacoes .green{
    background: url('https://images.pexels.com/photos/596940/pexels-photo-596940.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-repeat: no-repeat;
    background-size: cover;
}
#informacoes .blue{
    background: url('https://images.pexels.com/photos/1125308/pexels-photo-1125308.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-repeat: no-repeat;
    background-size: cover;
}
#cronograma p{
    text-transform: uppercase;
}

#atalhos {

    background: #3a734c;
    display: inline-flex;
    margin: 0;
    padding: 7px 0;
    width: 100%;
}

#atalhos li a {
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    padding: 3px 16px;
    text-transform: uppercase;
}


